>>>.el-pagination.is-background
  .btn-next
  .btn-prev
    min-width 18px
    height 18px
    line-height 18px
    background #ffffff
    border 1px solid #d8d8d8
  .el-pager
    li
      margin 0 2.5px
      min-width 18px
      height 18px
      line-height 15.5px
      font-size 10px
      background-color #ffffff
      border-radius 1px
      border 1px solid #d8d8d8
  .el-pager
    li
      &:not(.disabled).active
        background-color #FF9800
.pagination
  display flex
  justify-content space-between
  align-items center
  margin 20px 0
  .slotText
    margin-right 35.28%
    font-size 12px
    font-weight 500
    color #7B8CA7
    .current
      color #001A00
  >>>.el-input__icon
    height 18.5px
    line-height 18.5px
  >>>.el-input__inner
    height 18.5px
    font-size 10px
    border-radius 1px
  >>>.el-pagination
      span
        &:not([class*=suffix])
          min-width 0
          height 18px
          line-height 18px
          font-size 10px
  >>>.el-pagination
    padding 0
    font-weight 500
    .el-pagination__sizes
      margin 0 15px
    .el-pagination__jump
      margin-left 0
      .el-pagination__editor
        height 18.5px
    .el-select
      .el-input
        .el-input__inner
          border-radius 1px